<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Reset Your Password</h2>
    <p>Hello <%= @user.email %>,</p>
    <p>You requested a password reset. Click the link below:</p>
    <p> <%= @reset_link %>,</p>
    <p>If you didn't request this, please ignore this email.</p>
  </body>
</html>
